@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Nunito:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "Vermin";
    src: url(Fonts/VerminVibesV-Zlg3.ttf);
}


:root{
  --red: #680000;
  --black: #000000;
  --light-color:#181818;
  --box-shadow: 0 .5rem 1.5rem rgb(75, 0, 0);
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--black);
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  box-shadow: var(--box-shadow);
}

header .logo{
  color: #ffff;
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: Vermin;
}

header .navbar a{
  font-size: 1.7rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  color: #ffff;
  transition: 1s;
}

header .navbar a.active,
header .navbar a:hover{
  color: #ffff;
  background: var(--red);

}

header .icons i,
header .icons a{
  cursor: pointer;
  margin-left: .5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: #ffff;
  border-radius: 50%;
  background: var(--red);
  transition: .5s;
}

#sign{
  padding: 10px;
  border-radius: 15px;
}

header .icons i:hover,
header .icons a:hover{
  color: var(--red);
  background: #ffff;
  transform: scale(1.1);
}

header .icons #menu-bars{
  display: none;
}


.person1 {
  align-items: center;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 350px;
}

.person2 {
  align-items: center;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 350px;
  left: 300px;
}

.container {
  border-radius: 50%;
  height: 400px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:after {
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -20px;
}
.circle {
  background-color: rgb(133, 37, 37);
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left:  px;
  top: 164px;
  width: 340px;
}
.img2 {
  left: -46px;
  top: 174px;
  width: 444px;
}

.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

.About-text{
  position: absolute;
  justify-content: flex-end;
  right: 40%;
  bottom: 73%;
}

.paragraph{
  position: absolute;
  justify-content: flex-end;
  right: 10%;
  top: 30%;
  line-height: 1.5em;
  text-align: start;
  font-family: tahoma;
  font-size: medium;
}

.wrap {
  position: absolute;
  justify-content: flex-end;
  left: 53%;
  top: 540px;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #c01919;
  box-shadow: 0px 15px 20px rgba(233, 33, 33, 0.4);
  color: #fff;
  transform: translateY(-7px);
}















































/* media query */
@media(max-width: 991px){
  html{
      font-size: 55%;
  }

  header{
      padding: 1rem 2rem;
  }
}

@media(max-width: 768px){
  header .icons #menu-bars{
      display: inline-block;
  }
  header .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: var(--black);
      border-top: .1rem solid rgba(0,0,0,.2);
      border-bottom: .1rem solid rgba(0,0,0,.2);
      padding: 1rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a{
      display: block;
      padding: 1.5rem;
      margin: 1rem;
      font-size: 2rem;
      background: var(--red);

  }
}

@media(max-width: 468px){
  html{
      font-size: 50%;
  }
}