@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Nunito:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "Vermin";
    src: url(Fonts/VerminVibesV-Zlg3.ttf);
}

:root{
    --red: #680000;
    --black: #000000;
    --light-color:#181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color: #ffff;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: Vermin;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #ffff;
    transition: 1s;
}

header .navbar a.active,
header .navbar a:hover{
    color: #ffff;
    background: var(--red);

}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #ffff;
    border-radius: 50%;
    background: var(--red);
    transition: .5s;
}

header .icons i:hover,
header .icons a:hover{
    color: var(--red);
    background: #ffff;
    transform: scale(1.1);
}

header .icons #menu-bars{
    display: none;
}

.home{
    padding: 0;
}

.home .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem 50%;
}


img {
	max-width: 100%;
	display: block;
}

a {
	color: inherit;
	font-weight: bold;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	border: 1px solid;
	background-color: transparent;
}

.responsive-container {
	max-width: 1080px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10rem;
	padding: 10%;
}

.product-image {
	border-radius: 0.25rem 0.25rem 0 0;
	overflow: hidden;
}

.product-content {
	padding: 1rem;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-radius: 0 0 0.25rem 0.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .15s ease;
	background-color: #FFF;
}

.product-action {
	color: #000;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .25rem;
	font-size: 1.25rem;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .15s ease;
}

.product-info {
	display: flex;
	flex-direction: column;
}

.product-title {
	font-size: 1.125rem;
	line-height: 1.25;
}

.product-price {
	margin-top: .25rem;
}

.credits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 10rem;
	color: #777;
	font-size: .875rem;
}


/* media query */
@media(max-width: 991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
}

@media(max-width: 768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--red);

    }
}

@media(max-width: 468px){
    html{
        font-size: 50%;
    }
}